/* ===========================================================================*/
/*      Global                                                                */
/* ===========================================================================*/
/*      Fonts       */
/* ===========================================================================*/
/*      Header                                                                */
/* ===========================================================================*/
#header {
  background-image: url(/diedanisch-archiv/static/images/sdanisch/title.jpeg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 100%;
  text-align: center; }


#page-logo {
  width: 100%;
  position: absolute;
  bottom: 50px;
  margin: 0;
  padding: 20px 0px 20px; }

#page-logo img {
  max-width: 300px;
  border: solid #8a0a10 4px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 400px;
  background-color: rgba(255, 255, 255, 0.4); }

#page-header {
  width: 100%;
  margin: 0;
  margin-top: -100px; }

#page-header div {
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  float: None;
  padding: 10px;
  height: 100px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  -webkit-box-shadow: 16px -7px 18px -7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 16px -7px 18px -7px rgba(0, 0, 0, 0.3);
  box-shadow: 16px -7px 18px -7px rgba(0, 0, 0, 0.3);
  font-size: 2em; }
#page-header a {
  color: #000; }

/* ===========================================================================*/
/*      Profil                                                                */
/* ===========================================================================*/
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #about {
    background-image: url(/diedanisch-archiv/static/images/sdanisch/profil.jpeg);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: auto 68%;
    padding-top: 50px;
    padding-bottom: 50px; } }
@media (min-width: 1200px) {
  #about {
    background-image: url(/diedanisch-archiv/static/images/sdanisch/profil.jpeg);
    background-repeat: no-repeat;
    background-position: 70px bottom;
    background-size: auto 78%;
    padding-top: 50px;
    padding-bottom: 50px; } }
#about p {
  text-align: justify;
  font-size: 14pt; }

#about h1 {
  color: #8A0A10;
  font-weight: bold;
  font-variant: small-caps;
  font-style: oblique; }
#about h2 {
  font-family: Tw Cen MT, Source Sans Pro;
  font-style: oblique; }

/* ===========================================================================*/
/*      Einschalten                                                           */
/* ===========================================================================*/
#einschalten {
  padding: 100px 50px; }

#einschalten a {
  color: #000; }

#einschalten a:hover {
  text-decoration: None;
  border: 0px; }

#einschalten h1 {
  color: #8a0a10;
  font-weight: bold;
  margin-bottom: 100px;
  font-size: 4em;
  font-variant: small-caps;
  font-style: oblique; }

/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {
  #einschalten h1 {
    font-size: 2em; }

  .radio-batch {
    font-size: 12pt !important; }

  #einschalten {
    padding: 100px 0px; } }
.radio-batch {
  font-size: 14pt;
  border-radius: 45px; }

.radio-batch:hover {
  box-shadow: 5px 0px 40px rgba(0, 0, 0, 0.2); }

.radio-batch .panel-heading {
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
  padding: 20px;
  background-color: #8a0a10;
  color: #fff; }

.radio-batch img {
  height: 200px;
  margin: 0 auto; }

.radio-batch .panel-body {
  padding: 30px 20px;
  min-height: 100px;
  line-height: 100px; }

.radio-batch .panel-body p,
.radio-batch .panel-footer i {
  display: inline-block;
  vertical-align: middle;
  line-height: normal; }

.radio-batch .panel-footer {
  border-bottom-left-radius: 45px;
  border-bottom-right-radius: 45px;
  padding: 0px 20px 10px;
  background-color: #8a0a10;
  min-height: 100px;
  line-height: 100px;
  color: #fff; }

/* ===========================================================================*/
/*      Stimme                                                                */
/* ===========================================================================*/
#web-player {
  padding: 20px !important;
  border: #8a0a10 double;
  border-radius: 10px;
  background-color: #fff;
  margin-top: 200px;
  margin-bottom: 200px; }

#stimme {
  background-image: url(/diedanisch-archiv/static/images/sdanisch/stimme.jpeg);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: auto 100%;
  padding-top: 50px;
  padding-bottom: 50px; }

@media (max-width: 768px) {
  #stimme {
    background-image: none;
    padding-top: 0px;
    padding-bottom: 0px; } }
/* ===========================================================================*/
/*      Disclaimer                                                            */
/* ===========================================================================*/
.disclaimer {
  border-top: solid 10px #8a0a10;
  border-bottom: solid 10px #8a0a10; }

.disclaimer h1 {
  color: #8A0A10;
  font-weight: bold;
  padding: 50px 0 50px 0;
  font-size: 4em;
  font-variant: small-caps;
  font-style: oblique; }
.disclaimer h2 {
  font-family: Tw Cen MT, Source Sans Pro;
  font-style: oblique;
  padding: 20px 0 50px 0;
  font-size: 3.5em; }

/* Small devices (tablets, 768px and up) */
/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {
  .disclaimer h1 {
    font-size: 2em;
    padding: 0;
    padding-bottom: 20px;}

  .disclaimer h2 {
    font-size: 1.75em;
    padding: 0;
    padding-bottom: 10px;} }

/* ===========================================================================*/
/*      CV                                                                    */
/* ===========================================================================*/
#cv {
  background-image: url(/diedanisch-archiv/static/images/sdanisch/cv-back2.jpeg);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: auto 100%;
  min-height: 100vh;
  padding-top: 100px;
  padding-bottom: 50px;
  font-size: 21px; }

.cv-entry {
  margin-bottom: 50px; }

.cv-logo {
  margin: 0 auto;
  max-height: 100px; }

.cv-date {
  border-bottom: inset 1px black;
  padding-left: 50px;
  margin-bottom: 10px; }
  .cv-date h4 {
    margin: 0;
    font-weight: 300;
    font-size: 21px; }

.cv-content {
  padding-right: 30px; }
  .cv-content b {
    color: #8A0A10; }

/* ===========================================================================*/
/*      Kontakt                                                               */
/* ===========================================================================*/
.contact-form {
  width: 100%; }

.contact-form input[type=text], input[type=email] {
  border: none;
  border-bottom: 1px solid #8A0A10;
  background-color: transparent;
  color: #8A0A10;
  font-size: 14pt;
  font-weight: bold;
  margin-bottom: 10px;
  display: table-cell;
  width: 100%; }

.contact-form input:focus, textarea:focus {
  outline: none; }

.contact-form textarea {
  border: none;
  border-bottom: 1px solid #8A0A10;
  background-color: transparent;
  color: #8A0A10;
  margin-bottom: 10px;
  font-size: 12pt;
  width: 100%;
  padding: 10px;
  overflow: hidden; }

.contact-form .btn {
  background-color: #8A0A10 !important;
  color: white; }

/*# sourceMappingURL=sdanisch.css.map */
